<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="slider-container">
        <div class="slider">

          <div class="slide">
            <video autoplay muted loop playsinline>
              <source src="/uploads/media/team_day_Video_2025.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          
          <div class="slide">
            <img src="/uploads/media/team_park_2.jpg">
          </div>
          <div class="slide">
            <img src="/uploads/media/team_serious.jpg">
          </div>
          <div class="slide">
            <img src="/uploads/media/team_funny1.jpg">
          </div>
          <div class="slide">
            <img src="/uploads/media/B-gate.jpg">
          </div>
          <div class="slide">
            <img src="/uploads/media/girls.jpg">
          </div>
          <div class="slide">
            <img src="/uploads/media/group_pic_jungle.jpg">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
